.topBody-header {
    font-size: 18px;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: max-content auto 1fr;
    grid-template-rows: 65px;
    align-items: center;
    column-gap: 20px;
    background-color: #bdd589;
    width: 100%;    
}
.topBody-header-logo {
    width:42px;
    height:42px;
    margin-left:35px;
}
.topBody-header-heading {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #00051a;
}
.topBody-header-rightoptions {
    justify-self:flex-end;
    align-items: center;
    display:grid;
    grid-template-columns:1fr 1fr;
    column-gap: 30px;
    padding-right: 40px;
}
.topBody-reset-session {
    justify-self:flex-end;
    color:#0c4d04;  
}
.topBody-reset-session:hover {
    cursor: pointer;;  
}
.topBody-logout-button {
    justify-self: flex-end;
    grid-column: 2/3;
    padding: 4px 12px;
    width: 100px;
    background-color: transparent;
    color: #14ac00;
    border: 2px solid #1fe905;
    color: #075300;
    border: 2px solid #0b5801;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    /*transition-property: background-color;
    transition-duration: .7s;*/
    
}
.topBody-logout-button:hover {
    cursor: pointer;
    background-color: #2fe617;
    /*border: 1px solid #bebebe;*/
    border: 2px solid #2fe617;
    color: #ffffff;
}
/*.topBody-body {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    justify-content: center;
}*/
.topBody-welcome {
    color:#000829;
    font-size: 57px;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03em;
    margin-top: 70px;
}
.topBody-tagline {
    color: #024694;
    font-size: 16px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-top: 1px;
}
.topBody-body-left {
   display: flex;
   height: 100%;
   flex-direction: column;
   gap: 10px;
   align-items:flex-start;
   font-family: "Poppins", sans-serif;
   font-style:normal;
   background: no-repeat url('../img/img2.jpg');
   background-size:contain;
   background-size: 450px 400px;
   background-position:94% 30%;
   padding-left: 80px;
   padding-top: 50px;
}
.topBody-navigation {
    color:#000000;
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.topBody-body-right {
    justify-self:end;
    padding: 15px 5px;
    border-radius: 5px 0px 0px 5px;
    gap: 50px;
    opacity: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    /*animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function:ease-out;
	animation-duration: 4s;
    animation-delay:1s;
    animation-fill-mode:forwards ;*/
    background-color: #58585844;
}

.topBody-slider {
    margin-right: -465px;
    transition-property: margin-right,opacity;
    transition-duration: .8s;
    transition-timing-function:ease-in-out;
}
.topBody-sphere-slider {
    color: #f6f7ff;
    align-self: center;
    padding: 50px 10px;
    background-color: #4646468a;
    background-color: #01000ed2;
    height: 100%;
    border-radius: 5px;
}
.topBody-sphere-slider:hover {
    cursor: pointer;
    color: #2cacf7;
}
.sphere-info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.sphere{
    width: 250px;
    height: 300px;
    border: 2px solid white;
    overflow-y: scroll;    
}
@keyframes fadeInOpacity {
	0% {
        opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}
.sphere-heading {
    color: white;
    padding-bottom: 40px;
    text-align: center;
    font-size: 20px;
}
.sphere-info-part {
    display: flex;
    flex-direction: row;
    color: white;
    align-self: center;    
    padding-bottom: 10px;
    align-items: center;
    gap: 10px;                                                                                                      ;
}
.sphere-info-text {
    display: flex;
    flex-direction: column;
}
.sphere-info-color {
    width: 10px;
    height: 10px;
    background-color: aqua;
}

.topBody-navigation-item {
  background: #2e9bd9;
  border: 1px solid #1c95ff;
  border-radius: 6px;
  box-shadow: rgba(22, 121, 202, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 16px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.topBody-navigation-item:hover,
.topBody-navigation-item:active {
  background-color: initial;
  background-position: 0 0;
  color: #2e9bd9;
}

.topBody-navigation-item:active {
  opacity: .5;
}